@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto&display=swap');
h1 {
    color: red;
    font-family: 'Play', sans-serif;
}

h3 {
    /* color: brown; */
    font-family: 'Roboto', sans-serif;
}

#bioHeader {
    color: darkgrey;
}

#skillsHeader {
    color: coral;
}

p {
    color: grey;
    font-family: 'Roboto', sans-serif;
    /* font-family: "oswald-light"; */
    font-size: 18px;
    text-align: justify;
}

@font-face {
    font-family: "oswald-light";
    src: url("../fonts/oswald-light.ttf");
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

.div-img {
    background-color: lightblue;
    padding: 5px 0 0 5px;
}

.div-img-light {
    background-color: lightgrey;
    padding: 0 0 0 5px;
}

img {
    box-shadow: 3px 3px 10px brown;
    width: 15.2%;
    margin: 0.5%;
}